@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('../fonts/AGaramondPro-Bold.eot');
    src: local('Adobe Garamond Pro Bold'), local('AGaramondPro-Bold'),
        url('../fonts/AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGaramondPro-Bold.woff2') format('woff2'),
        url('../fonts/AGaramondPro-Bold.woff') format('woff'),
        url('../fonts/AGaramondPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

