.wrapper {
    font-size: 25px;
}

._container {
    /* max-width: 1500px; */
    margin: 0 auto;
    padding: 0 210px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.header__logo {
    display: inline-block;
    width: 256px;
    height: 150px;

    text-align: center;
    padding-top: 48px;  
   
    font-family: 'Adobe Garamond Pro';
    font-size: 40px;
    line-height: 0.6;
    font-weight: bold;
    letter-spacing: 0.15em;
    color: #14274A;

    background-color: #E0B973;
    border-radius: 0 0 50px 50px;
}

.header__logo span {
    font-size: 15px;
    letter-spacing: 0.6em;
}
.header__menu {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__link {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.header__link:active {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.header__link:not(last-child) {
    margin-right: 90px;
}

.welcome-to-hotels {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;

    line-height: 1.2;
    color: #fff;
    background: url("../img/main/welcome-to-hotels/welcome-to-hotels.png") 0 0/100% 100% no-repeat;
}

.welcome-to-hotels__container {
    padding: 0 210px;
}

.welcome-to-hotels__description {
    max-width: 700px;
}

.welcome-to-hotels__title span {
    display: block;
}

.welcome-to-hotels__welcome-to {
    font-family: 'Montserrat';
    font-size: 50px;
}
.welcome-to-hotels__luxury {
    font-family: 'Adobe Garamond Pro';
    font-size: 154px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.07em;
}
.welcome-to-hotels__hotels{
    font-family: 'Adobe Garamond Pro';
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.4em;
}
.welcome-to-hotels__subtitle {
    font-family: 'Montserrat';
    font-size: 25px;
    letter-spacing: 0.1em;
}
.welcome-to-hotels__button {
    display: block;
    width: 268px;
    height: 78px;
    margin: 80px auto;

    background-color: #E0B973;
    border-radius: 11px;
}
.welcome-to-hotels__book-now {
    display: inline-block;
    padding-left: 15px;

    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700; 
    color: #fff;
}
.welcome-to-hotels__scroll {
    margin: 15px auto;

    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
}
.welcome-to-hotels__arrow-to-down {
    display: block;
    margin: 0 auto 38px;

    text-align: center;
}

@media (max-height: 900px), (max-width: 991px) {
    .header__logo {
        width: 200px;
        height: 100px;
        padding-top: 30px;

        font-size: 30px;
        border-radius: 0 0 31px 31px;
    }
    .welcome-to-hotels__welcome-to {
        font-size: 26px;
    }
    .welcome-to-hotels__luxury {
        font-size: 48px;
    }
    .welcome-to-hotels__hotels {
        font-size: 24px;
    }
    .welcome-to-hotels__container {
        padding: 0 110px;
    }
    .welcome-to-hotels__subtitle {
        font-size: 22px;
    }
    .welcome-to-hotels__button {
        width: 155px;
        height: 45px;
        margin: 50px auto;
    }    
    .welcome-to-hotels__button img {
        height: 22px;
    }
    .welcome-to-hotels__book-now {
        padding: 5;

        font-size: 14px;
    }
    .welcome-to-hotels__scroll {
        margin: 20px auto;
        font-size: 22px;
    }  
    .welcome-to-hotels__arrow-to-down {
        height: 35px;
        margin: 20 auto;
    }  
}
@media (max-height: 550px) {
    .header__logo {
        width: 150px;
        height: 78px;
        padding-top: 20px;

        font-size: 25px;
        border-radius: 0 0 31px 31px;
    }
    .welcome-to-hotels__welcome-to {
        font-size: 18px;
    }
    .welcome-to-hotels__luxury {
        font-size: 20px;
    }
    .welcome-to-hotels__hotels {
        font-size: 20px;
    }
    .welcome-to-hotels__container {
        padding: 0;
        margin: 0 auto;
    }
    .welcome-to-hotels__subtitle {
        font-size: 18px;
    }
    .welcome-to-hotels__button {
        width: 116px;
        height: 27px;
        margin: 10px auto;
    }    
    .welcome-to-hotels__button img {
        height: 15px;
    }
    .welcome-to-hotels__book-now {
        padding: 0;

        font-size: 9px;
    }
    .welcome-to-hotels__scroll {
        margin: 5px auto;
        font-size: 18px;
    }  
    .welcome-to-hotels__arrow-to-down {
        height: 20px;
        margin: 0 auto 10px;
    }  
}
@media (max-width: 1199px) {
    .header__link:not(last-child) {
        margin-right: 50px;
    }
}
@media (max-width: 991px) {
    .header__link:not(last-child) {
        margin-right: 50px;
    }
    .header__link {
        font-size: 18px;
    }
}