.wrapper {
    font-size: 25px;
}

._container {
    /* max-width: 1500px; */
    margin: 0 auto;
    padding: 0 210px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.header__logo {
    display: inline-block;
    width: 256px;
    height: 150px;

    text-align: center;
    padding-top: 48px;  
   
    font-family: 'Adobe Garamond Pro';
    font-size: 40px;
    line-height: 0.6;
    font-weight: bold;
    letter-spacing: 0.15em;
    color: #14274A;

    background-color: #E0B973;
    border-radius: 0 0 50px 50px;
}

.header__logo span {
    font-size: 15px;
    letter-spacing: 0.6em;
}
.header__menu {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__link {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.header__link:active {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.header__link:not(last-child) {
    margin-right: 90px;
}

.welcome-to-hotels {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;

    line-height: 1.2;
    color: #fff;
    background: url("../img/main/welcome-to-hotels/welcome-to-hotels.png") 0 0/100% 100% no-repeat;
}

.welcome-to-hotels__container {
    padding: 0 210px;
}

.welcome-to-hotels__description {
    max-width: 700px;
}

.welcome-to-hotels__title span {
    display: block;
}

.welcome-to-hotels__welcome-to {
    font-family: 'Montserrat';
    font-size: 50px;
}
.welcome-to-hotels__luxury {
    font-family: 'Adobe Garamond Pro';
    font-size: 154px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.07em;
}
.welcome-to-hotels__hotels{
    font-family: "Adobe Garamond Pro";
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.4em;
}
.welcome-to-hotels__subtitle {
    font-family: 'Montserrat';
    font-size: 25px;
    letter-spacing: 0.1em;
}
.welcome-to-hotels__button {
    display: block;
    width: 268px;
    height: 78px;
    margin: 80px auto;

    background-color: #E0B973;
    border-radius: 11px;
}
.welcome-to-hotels__book-now {
    display: inline-block;
    padding-left: 15px;

    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700; 
    color: #fff;
}
.welcome-to-hotels__scroll {
    margin: 15px auto;

    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
}
.welcome-to-hotels__arrow-to-down {
    display: block;
    margin: 0 auto 38px;

    text-align: center;
}

@media (max-height: 900px), (max-width: 991px) {
    .header__logo {
        width: 200px;
        height: 100px;
        padding-top: 30px;

        font-size: 30px;
        border-radius: 0 0 31px 31px;
    }
    .welcome-to-hotels__welcome-to {
        font-size: 26px;
    }
    .welcome-to-hotels__luxury {
        font-size: 48px;
    }
    .welcome-to-hotels__hotels {
        font-size: 24px;
    }
    .welcome-to-hotels__container {
        padding: 0 110px;
    }
    .welcome-to-hotels__subtitle {
        font-size: 22px;
    }
    .welcome-to-hotels__button {
        width: 155px;
        height: 45px;
        margin: 50px auto;
    }    
    .welcome-to-hotels__button img {
        height: 22px;
    }
    .welcome-to-hotels__book-now {
        padding: 5;

        font-size: 14px;
    }
    .welcome-to-hotels__scroll {
        margin: 20px auto;
        font-size: 22px;
    }  
    .welcome-to-hotels__arrow-to-down {
        height: 35px;
        margin: 20 auto;
    }  
}
@media (max-height: 550px) {
    .header__logo {
        width: 150px;
        height: 78px;
        padding-top: 20px;

        font-size: 25px;
        border-radius: 0 0 31px 31px;
    }
    .welcome-to-hotels__welcome-to {
        font-size: 18px;
    }
    .welcome-to-hotels__luxury {
        font-size: 20px;
    }
    .welcome-to-hotels__hotels {
        font-size: 20px;
    }
    .welcome-to-hotels__container {
        padding: 0 10px;
        margin: 0 auto;
    }
    .welcome-to-hotels__subtitle {
        font-size: 18px;
    }
    .welcome-to-hotels__button {
        width: 116px;
        height: 27px;
        margin: 10px auto;
    }    
    .welcome-to-hotels__button img {
        height: 15px;
    }
    .welcome-to-hotels__book-now {
        padding: 0;

        font-size: 9px;
    }
    .welcome-to-hotels__scroll {
        margin: 5px auto;
        font-size: 18px;
    }  
    .welcome-to-hotels__arrow-to-down {
        height: 20px;
        margin: 0 auto 10px;
    }  
}
@media (max-width: 1199px) {
    .header__link:not(last-child) {
        margin-right: 50px;
    }
}
@media (max-width: 991px) {
    .header__link:not(last-child) {
        margin-right: 50px;
    }
    .header__link {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .header__logo {
        width: 150px;
        height: 78px;
        padding-top: 20px;

        font-size: 25px;
        border-radius: 0 0 31px 31px;
    }
}
@media (max-width: 650px) {
    .header__link {
        font-size: 14px;
    }
    .header__link:not(last-child) {
        margin-right: 20px;
    }
}
@media (max-width: 480px) {
    .welcome-to-hotels__container {
        padding: 0 20px;
    }
    .header__logo {
        width: 90px;
        height: 50px;
        padding-top: 13px;

        line-height: 0.8;
        font-size: 16px;
    }
    .header__logo span {
        font-size: 13px;
        letter-spacing: 0.1em;
    }
    .header__list {
        flex-wrap: wrap;
        padding-left: 15px;
    }
    .header__list li:nth-child(2n+1) {
        width: 40%;
    }
}
.our-rooms {
    font-family: 'Montserrat';
}

.our-rooms__heading {
    margin: 83px 0;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;

}

.our-rooms__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 150px;
}
.our-rooms__block:not(last-child) {
    margin: 0 150px 69px;
}

.our-rooms__description {
    max-width: 1000px;
}

.our-rooms__description-conteiner {
    margin: 113px 0;
    padding: 0 100px 0 50px;
    border-left: 2px solid #000;
}
.our-rooms__title {
    padding-bottom: 25px;

    font-family: "Adobe Garamond Pro";
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-rooms__text {
    padding-bottom: 30px;

    font-size: 25px;
    line-height: 1.6;
}
._button {
    color: #fff;
    border-radius: 10px;
    background-color: #E0B973;
}
.our-rooms__button {
    width: 236px;
    height: 63px;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.our-rooms__photo {
    position: relative;
}

.our-rooms__photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1199px) {
    .our-rooms__block:not(last-child) {
        margin: 0 50px 69px;
    }
    .our-rooms__heading {
        font-size: 30px;
    }
    .our-rooms__title {
        font-size: 45px;
    }
    .our-rooms__text {
        font-size: 22px;
    }
}
@media (max-width: 991px) {
    .our-rooms__block:not(last-child) {
        margin: 0 50px 69px;
    }
    .our-rooms__description-conteiner {
        margin: 80px 0;
        padding: 0 60px 0 40px;
    }
    .our-rooms__heading {
        margin: 55px 0;
        font-size: 25px;
    }
    .our-rooms__title {
        font-size: 31px;
    }
    .our-rooms__text {
        font-size: 19px;
        line-height: 1.4;
    }
}
@media (max-width: 767px) {
    .our-rooms__block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 150px;
    }
    .our-rooms__description {
        order: 2;
    }
    .our-rooms__description-conteiner {
        margin: 0;
    }
    .our-rooms__title {
        padding: 15px 0;
    }
    .our-rooms__text {
        padding-bottom: 20px;
    }
    .our-rooms__button {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .our-rooms__photo {
        order: 1;
    }
    .our-rooms__photo img {
        padding: 0 60px 0 40px;

        border-left: 2px solid #000;
    }
}
@media (max-width: 480px) {
    .our-rooms__block {
        grid-template-rows: 30% 1fr;
        margin: 0 20px 20px;
    }
    .our-rooms__block:not(last-child) {
        margin: 0 20px 100px;
    }
    .our-rooms__description-conteiner {
        padding: 0 20px 0 20px;

        border-left: 1px solid #000;
    }
    .our-rooms__heading {
        margin: 15px 30px;
        font-size: 12px;
    }
    .our-rooms__title {
        font-size: 18px;
    }
    .our-rooms__text {
        font-size: 10px;
        line-height: 1.4;
    }
    .our-rooms__button {
        width: 60px;
        height: 20px;
        font-size: 9px;
    }
    .our-rooms__photo img {
        padding: 0 100px 0 20px;

        border-left: 1px solid #000;
    }
}